*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.container{
    width: 550px;
    background-color: #fff;
    border-radius: 20px;
}

.card{
    position: relative;
    padding: 40px 40px 20px;
    display: flex;
    flex-direction: column;
}

.card h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 32px;
    color: dodgerblue;
}

.input-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

label{
    font-size: 1em;
    color: #4e585f;
}

span{
    color: dodgerblue;
    font-weight: bold;
    cursor: pointer;
}

input{
    padding: 10px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid lightgray;
    outline: 0;
    transition: 800ms ease all;
}

input:focus{
    border-bottom: 2px solid dodgerblue;
    box-shadow: 0 1px 0 0 dodgerblue;
}

input:hover{
    border-bottom: 2px solid dodgerblue;
    transition: 100ms;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

input[type="checkbox"]:focus{
    outline: 0;
    box-shadow: none;
    border-color: none;
}

button{
    padding: 15px 60px;
    background-color: dodgerblue;
    border-radius: 38px;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover{
    background-color: mediumblue;
    transition: 800ms;
}
